USE [Empresa1]
GO
/****** Object:  Table [dbo].[cat_carrusel]    Script Date: 19/04/2025 22:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cat_carrusel](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](250) NULL,
	[icono] [text] NULL,
	[descripcion] [text] NULL,
	[estatus] [tinyint] NULL,
 CONSTRAINT [PK_cat_carrusel] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cat_carruselVehiculo]    Script Date: 19/04/2025 22:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cat_carruselVehiculo](
	[id_carruselVehiculo] [int] IDENTITY(1,1) NOT NULL,
	[id_vehiculo] [int] NOT NULL,
	[Fot1] [varchar](50) NULL,
	[Fot2] [varchar](50) NULL,
	[Fot3] [varchar](50) NULL,
	[Fot4] [varchar](50) NULL,
	[Fot5] [varchar](50) NOT NULL,
 CONSTRAINT [PK__cat_carr__F0E21B48870AEB92] PRIMARY KEY CLUSTERED 
(
	[id_carruselVehiculo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cat_descuentos]    Script Date: 19/04/2025 22:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cat_descuentos](
	[id_oferta] [int] IDENTITY(1,1) NOT NULL,
	[id_vehiculo] [int] NOT NULL,
	[Categoria] [varchar](20) NOT NULL,
	[Fecha_Inicio] [date] NOT NULL,
	[Fecha_Fin] [date] NOT NULL,
	[Precio_nuevo] [money] NOT NULL,
 CONSTRAINT [PK_ofertas] PRIMARY KEY CLUSTERED 
(
	[id_oferta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cat_footer]    Script Date: 19/04/2025 22:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cat_footer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NULL,
	[telefono] [nvarchar](50) NULL,
	[email] [nvarchar](100) NULL,
	[icono] [nvarchar](100) NULL,
	[lema] [nvarchar](255) NULL,
	[imagen] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cat_historia]    Script Date: 19/04/2025 22:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cat_historia](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](255) NULL,
	[descripcion] [text] NULL,
	[link] [varchar](50) NULL,
	[Imagen] [text] NULL,
	[estatus] [tinyint] NULL,
	[orden] [int] NULL,
 CONSTRAINT [PK__Historia__3213E83F0BBA47E5] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cat_requisitos_renta]    Script Date: 19/04/2025 22:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cat_requisitos_renta](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[medio_transporte] [varchar](50) NULL,
	[edad_minima] [int] NULL,
	[identificacion_oficial] [text] NULL,
	[licencia_requerida] [text] NULL,
	[deposito] [text] NULL,
	[contrato] [text] NULL,
	[seguro] [text] NULL,
	[condiciones_uso] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cat_secciones]    Script Date: 19/04/2025 22:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cat_secciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[nombre_seccion] [varchar](250) NULL,
	[estatus] [tinyint] NULL,
	[link] [varchar](50) NULL,
	[orden] [int] NULL,
	[registro] [datetime] NULL,
	[UM] [varchar](150) NULL,
 CONSTRAINT [PK_cat_secciones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cat_secciones_login]    Script Date: 19/04/2025 22:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cat_secciones_login](
	[id] [int] NOT NULL,
	[nombre_seccion] [varchar](45) NULL,
	[estatus] [tinyint] NULL,
	[link] [varchar](45) NULL,
	[orden] [varchar](45) NULL,
	[registro] [varchar](45) NULL,
	[UM] [varchar](45) NULL,
 CONSTRAINT [PK__cat_secc__3213E83F048C51F9] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cat_servicios]    Script Date: 19/04/2025 22:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cat_servicios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[icono] [text] NULL,
	[descripcion] [text] NULL,
	[estatus] [tinyint] NULL,
	[orden] [int] NULL,
	[registro] [datetime] NULL,
	[UM] [varchar](50) NULL,
	[color] [text] NULL,
	[capacidad] [text] NULL,
	[tipo] [text] NULL,
	[duracion] [time](7) NULL,
	[resena] [varchar](50) NULL,
	[ubicacion] [varchar](50) NULL,
	[estrella] [text] NULL,
	[Fot1] [text] NULL,
	[Fot2] [text] NULL,
	[Fot3] [text] NULL,
	[Fot4] [text] NULL,
	[Fot5] [text] NULL,
 CONSTRAINT [PK_cat_servicios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cat_vehiculo]    Script Date: 19/04/2025 22:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cat_vehiculo](
	[id_vehiculo] [int] IDENTITY(1,1) NOT NULL,
	[Tipo_vehiculo] [varchar](50) NULL,
	[Marca] [varchar](50) NULL,
	[Modelo] [varchar](50) NULL,
	[Tipo] [varchar](50) NULL,
	[Anio] [int] NULL,
	[Color] [varchar](50) NULL,
	[Capacidad] [int] NULL,
	[Precio] [decimal](10, 2) NULL,
	[Imagen] [varchar](50) NULL,
	[Categoria] [varchar](50) NULL,
	[icono] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_vehiculo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 19/04/2025 22:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](45) NULL,
	[email] [varchar](45) NULL,
	[username] [varchar](45) NULL,
	[password] [varchar](45) NULL,
	[apellido_paterno] [varchar](45) NULL,
	[apellido_materno] [varchar](45) NULL,
	[fecha_nacimiento] [date] NULL,
	[edad] [int] NULL,
	[direccion] [varchar](255) NULL,
	[codigo_postal] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[cat_carrusel] ON 

INSERT [dbo].[cat_carrusel] ([Id], [nombre], [icono], [descripcion], [estatus]) VALUES (1, N'OFERTAS', N'C.jpeg', N'', 1)
INSERT [dbo].[cat_carrusel] ([Id], [nombre], [icono], [descripcion], [estatus]) VALUES (2, N'Viaja Seguro', N'A.jpeg', N'', 1)
INSERT [dbo].[cat_carrusel] ([Id], [nombre], [icono], [descripcion], [estatus]) VALUES (3, N'Navega', N'B.jpeg', NULL, 1)
SET IDENTITY_INSERT [dbo].[cat_carrusel] OFF
GO
SET IDENTITY_INSERT [dbo].[cat_carruselVehiculo] ON 

INSERT [dbo].[cat_carruselVehiculo] ([id_carruselVehiculo], [id_vehiculo], [Fot1], [Fot2], [Fot3], [Fot4], [Fot5]) VALUES (1, 1, N'Toyota_Corolla1.png', N'Toyota_Corolla2.png', N'Toyota_Corolla3.png', N'Toyota_Corolla4.png', N'Toyota_Corolla5.png')
INSERT [dbo].[cat_carruselVehiculo] ([id_carruselVehiculo], [id_vehiculo], [Fot1], [Fot2], [Fot3], [Fot4], [Fot5]) VALUES (3, 2, N'Honda_1CBR600RR.png', N'Honda_2CBR600RR.png', N'Honda_3CBR600RR.png', N'Honda_4CBR600RR.png', N'Honda_5CBR600RR.png')
SET IDENTITY_INSERT [dbo].[cat_carruselVehiculo] OFF
GO
SET IDENTITY_INSERT [dbo].[cat_footer] ON 

INSERT [dbo].[cat_footer] ([id], [nombre], [telefono], [email], [icono], [lema], [imagen]) VALUES (1, N'Dirección: Mérida, Yucatán, México', N'Teléfono: +52 99-92-33-20-39', N'Email: atencionacliente@movimundo.com', NULL, N'Desarrollado por Movimundo © 2025', N'payment.png')
INSERT [dbo].[cat_footer] ([id], [nombre], [telefono], [email], [icono], [lema], [imagen]) VALUES (2, N'Facebook', NULL, NULL, N'fa-brands fa-facebook-f', NULL, NULL)
INSERT [dbo].[cat_footer] ([id], [nombre], [telefono], [email], [icono], [lema], [imagen]) VALUES (3, N'Twitter', NULL, NULL, N'fa-brands fa-twitter', NULL, NULL)
SET IDENTITY_INSERT [dbo].[cat_footer] OFF
GO
SET IDENTITY_INSERT [dbo].[cat_historia] ON 

INSERT [dbo].[cat_historia] ([id], [nombre], [descripcion], [link], [Imagen], [estatus], [orden]) VALUES (2, N'Historia de la Empresa', N'Fundada en 2025, MOVIMUNDO comenzó como una pequeña idea en la clase de Negocios electrónicos de alquiler de vehículos terrestres. Con el tiempo, expandimos nuestros servicios para incluir transporte marítimo y, finalmente, opciones aéreas. A lo largo de nuestra trayectoria, hemos crecido gracias a la confianza de nuestro maestro y nuestro compromiso con la innovación y la calidad.', N'/historia#historia-empresa', N'logo.png', 1, 1)
INSERT [dbo].[cat_historia] ([id], [nombre], [descripcion], [link], [Imagen], [estatus], [orden]) VALUES (4, N'Estructura Organizacional', N'Nuestro equipo está formado por profesionales dedicados, organizados en departamentos especializados para brindar el mejor servicio en cada modalidad de transporte.', N'/historia#estructura-organizacional', N'O.jpeg', 1, 1)
SET IDENTITY_INSERT [dbo].[cat_historia] OFF
GO
SET IDENTITY_INSERT [dbo].[cat_requisitos_renta] ON 

SET IDENTITY_INSERT [dbo].[cat_requisitos_renta] OFF
GO
SET IDENTITY_INSERT [dbo].[cat_secciones] ON 

INSERT [dbo].[cat_secciones] ([Id], [nombre_seccion], [estatus], [link], [orden], [registro], [UM]) VALUES (1, N'Terrestre', 1, N'/auto/vehiculo', 1, CAST(N'2024-09-13T00:00:00.000' AS DateTime), N'Prueba')
INSERT [dbo].[cat_secciones] ([Id], [nombre_seccion], [estatus], [link], [orden], [registro], [UM]) VALUES (2, N'Maritimo', 1, N'/auto/vehiculo', 2, CAST(N'2024-09-13T00:00:00.000' AS DateTime), N'Prueba')
INSERT [dbo].[cat_secciones] ([Id], [nombre_seccion], [estatus], [link], [orden], [registro], [UM]) VALUES (3, N'Aereo', 1, N'/auto/vehiculo', 3, CAST(N'2024-09-13T00:00:00.000' AS DateTime), N'Prueba')
SET IDENTITY_INSERT [dbo].[cat_secciones] OFF
GO
INSERT [dbo].[cat_secciones_login] ([id], [nombre_seccion], [estatus], [link], [orden], [registro], [UM]) VALUES (1, N'Perfil', 1, N'/perfil', N'1', NULL, NULL)
INSERT [dbo].[cat_secciones_login] ([id], [nombre_seccion], [estatus], [link], [orden], [registro], [UM]) VALUES (2, N'Configuracion', 1, N'/configuracion', N'2', NULL, NULL)
INSERT [dbo].[cat_secciones_login] ([id], [nombre_seccion], [estatus], [link], [orden], [registro], [UM]) VALUES (3, N'Cerrar sesion', 1, N'form_usuarionuevo/cerrar_sesion', N'3', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[cat_servicios] ON 

INSERT [dbo].[cat_servicios] ([Id], [nombre], [icono], [descripcion], [estatus], [orden], [registro], [UM], [color], [capacidad], [tipo], [duracion], [resena], [ubicacion], [estrella], [Fot1], [Fot2], [Fot3], [Fot4], [Fot5]) VALUES (3, N'CF MOTO- 250 NF 2023-AZUL/BLANCA', N'MOTO_2.avif', N'<p>$170/HORA</p>', 1, 3, CAST(N'2025-02-20T00:00:00.000' AS DateTime), N'corozco', N'azul', N'2', N'deportivo', CAST(N'10:00:00' AS Time), N'Excelente rendimiento y bajo consumo', N'Cancun', N'<span>?</span><span>?</span><span>?</span><span>?</span><span>?</span>', NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[cat_servicios] OFF
GO
SET IDENTITY_INSERT [dbo].[cat_vehiculo] ON 

INSERT [dbo].[cat_vehiculo] ([id_vehiculo], [Tipo_vehiculo], [Marca], [Modelo], [Tipo], [Anio], [Color], [Capacidad], [Precio], [Imagen], [Categoria], [icono]) VALUES (1, N'Auto', N'Toyota', N'Corolla', N'A', 2022, N'Blanco', 5, CAST(800.00 AS Decimal(10, 2)), N'Toyota_Corolla.png', N'Terrestre', N'fa-car')
INSERT [dbo].[cat_vehiculo] ([id_vehiculo], [Tipo_vehiculo], [Marca], [Modelo], [Tipo], [Anio], [Color], [Capacidad], [Precio], [Imagen], [Categoria], [icono]) VALUES (2, N'Moto', N'Honda', N'CBR600RR', N'A', 2021, N'Rojo', 2, CAST(500.00 AS Decimal(10, 2)), N'Honda_CBR600RR.png', N'Terrestre', N'fa-motorcycle')
INSERT [dbo].[cat_vehiculo] ([id_vehiculo], [Tipo_vehiculo], [Marca], [Modelo], [Tipo], [Anio], [Color], [Capacidad], [Precio], [Imagen], [Categoria], [icono]) VALUES (3, N'Auto', N'Ford', N'Mustang', N'M', 2023, N'Azul', 4, CAST(1200.00 AS Decimal(10, 2)), N'Ford_Mustang.png', N'Terrestre', N'fa-car')
SET IDENTITY_INSERT [dbo].[cat_vehiculo] OFF
GO
SET IDENTITY_INSERT [dbo].[usuario] ON 

INSERT [dbo].[usuario] ([id], [nombre], [email], [username], [password], [apellido_paterno], [apellido_materno], [fecha_nacimiento], [edad], [direccion], [codigo_postal]) VALUES (1, N'as', N'as', N'as', N'as', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[usuario] ([id], [nombre], [email], [username], [password], [apellido_paterno], [apellido_materno], [fecha_nacimiento], [edad], [direccion], [codigo_postal]) VALUES (2, N'Carlos Antonio ', N'carlosorozcoucan@gmail.com', N'SSS', N'SSS', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[usuario] ([id], [nombre], [email], [username], [password], [apellido_paterno], [apellido_materno], [fecha_nacimiento], [edad], [direccion], [codigo_postal]) VALUES (3, N'astrid', N'astrid@gmail.com', N'astrid', N'astrid', NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[usuario] OFF
GO
ALTER TABLE [dbo].[cat_historia] ADD  CONSTRAINT [DF__Historia__estatu__3C34F16F]  DEFAULT ((1)) FOR [estatus]
GO
ALTER TABLE [dbo].[cat_historia] ADD  CONSTRAINT [DF__Historia__orden__3D2915A8]  DEFAULT ((0)) FOR [orden]
GO
ALTER TABLE [dbo].[cat_carruselVehiculo]  WITH CHECK ADD  CONSTRAINT [FK_cat_carruselVehiculo_cat_vehiculo] FOREIGN KEY([id_vehiculo])
REFERENCES [dbo].[cat_vehiculo] ([id_vehiculo])
GO
ALTER TABLE [dbo].[cat_carruselVehiculo] CHECK CONSTRAINT [FK_cat_carruselVehiculo_cat_vehiculo]
GO
/****** Object:  StoredProcedure [dbo].[pa_carrusel_vehiculo]    Script Date: 19/04/2025 22:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para consultar las imágenes del carrusel por ID del vehículo
CREATE   PROCEDURE [dbo].[pa_carrusel_vehiculo]
    @id_vehiculo INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        id_carruselVehiculo,
        id_vehiculo,
        Fot1,
        Fot2,
        Fot3,
        Fot4,
        Fot5
    FROM cat_carruselVehiculo
    WHERE (@id_vehiculo IS NULL OR id_vehiculo = @id_vehiculo)
    ORDER BY id_carruselVehiculo;
END
GO
/****** Object:  StoredProcedure [dbo].[pa_cat_vehiculo]    Script Date: 19/04/2025 22:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pa_cat_vehiculo]
AS
BEGIN
    -- Seleccionamos los campos de la tabla de vehículos
    SELECT 
        id_vehiculo, 
        Tipo_vehiculo, 
        Marca, 
        Modelo, 
        Tipo, 
        Anio, 
        Color, 
        Capacidad, 
        Precio, 
        Imagen, 
        Categoria
    FROM cat_vehiculo
    WHERE Precio > 0 -- Puedes cambiar la condición según necesidad
    ORDER BY id_vehiculo -- Ordenar por ID
END
GO
/****** Object:  StoredProcedure [dbo].[pa_consultar_carrusel]    Script Date: 19/04/2025 22:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pa_consultar_carrusel]
AS
BEGIN
    -- Seleccionamos los mismos campos que en servicios, pero solo hasta "estatus"
    SELECT Id, nombre, icono, descripcion, estatus
    FROM cat_carrusel
    WHERE estatus = 1 -- Filtramos solo los activos
    ORDER BY Id -- Puedes cambiar el orden si lo deseas
END
GO
/****** Object:  StoredProcedure [dbo].[pa_consultar_detalle_servicio]    Script Date: 19/04/2025 22:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_consultar_detalle_servicio]
@Id INT
AS
BEGIN
    SELECT *
    FROM cat_servicios
    WHERE estatus = 1 AND Id=@Id
    ORDER BY orden
END
GO
/****** Object:  StoredProcedure [dbo].[pa_consultar_detalle_vehiculo]    Script Date: 19/04/2025 22:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_consultar_detalle_vehiculo]
    @id_vehiculo INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT id_vehiculo, Tipo_vehiculo, Marca, Modelo, Tipo, Anio, Color, Capacidad, Precio, Imagen, Categoria
    FROM cat_vehiculo
    WHERE id_vehiculo = @id_vehiculo;
END;
GO
/****** Object:  StoredProcedure [dbo].[pa_consultar_footer]    Script Date: 19/04/2025 22:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_consultar_footer]
AS
BEGIN
    SELECT nombre, telefono, email, icono, lema, imagen
    FROM cat_footer;
END;
GO
/****** Object:  StoredProcedure [dbo].[pa_consultar_historia]    Script Date: 19/04/2025 22:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pa_consultar_historia]  -- Cambié ALTER por CREATE
AS
BEGIN
    SELECT Id, nombre, descripcion, estatus, orden , Imagen ,link
    FROM cat_historia
    WHERE estatus = 1
    ORDER BY orden;
END
GO
/****** Object:  StoredProcedure [dbo].[pa_consultar_secciones]    Script Date: 19/04/2025 22:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_consultar_secciones]
    @Id INT
AS
BEGIN
    SELECT Id, nombre_seccion, estatus, registro
    FROM cat_secciones
    WHERE Id = @Id AND estatus = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[pa_consultar_secciones_activas]    Script Date: 19/04/2025 22:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pa_consultar_secciones_activas]
AS
BEGIN
    SELECT Id, nombre_seccion, estatus, orden, link, registro, UM
    FROM cat_secciones
    ORDER BY orden
END

GO
/****** Object:  StoredProcedure [dbo].[pa_consultar_secciones_activas_login]    Script Date: 19/04/2025 22:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_consultar_secciones_activas_login]
AS
BEGIN
    SELECT Id, nombre_seccion, estatus, orden, link, registro, UM
    FROM cat_secciones_login
    ORDER BY orden;
END;
GO
/****** Object:  StoredProcedure [dbo].[pa_consultar_servicios]    Script Date: 19/04/2025 22:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_consultar_servicios]
AS
BEGIN
    SELECT Id, nombre, icono, descripcion, estatus, orden registro,capacidad,duracion,resena,ubicacion,estrella,Fot1,Fot2,Fot3,Fot4,Fot5
    FROM cat_servicios
    WHERE estatus = 1
    ORDER BY orden
END
GO
/****** Object:  StoredProcedure [dbo].[pa_consultar_usuario]    Script Date: 19/04/2025 22:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_consultar_usuario]
    @username VARCHAR(50),
    @password VARCHAR(255)
AS
BEGIN
    DECLARE @usuario_existe INT;
 
    -- Verificar si el usuario existe con las credenciales exactas
    SELECT @usuario_existe = COUNT(*) 
    FROM usuario 
    WHERE username = @username
      AND password = @password;
 
    -- Retornar resultado
    IF @usuario_existe > 0
    BEGIN
        SELECT 'logged_in' AS resultado;
    END
    ELSE
    BEGIN
        SELECT 'not_logged_in' AS resultado;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[pa_crear_usuario]    Script Date: 19/04/2025 22:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_crear_usuario]
    @nombre VARCHAR(100),
    @apellido_paterno VARCHAR(100),
    @apellido_materno VARCHAR(100),
    @email VARCHAR(150),
    @username VARCHAR(50),
    @fecha_nacimiento DATE,
    @direccion VARCHAR(255),
    @codigo_postal VARCHAR(10),
    @password VARCHAR(255)
AS
BEGIN
    DECLARE @edad INT;
    
    -- Calcular la edad automáticamente
    SET @edad = DATEDIFF(YEAR, @fecha_nacimiento, GETDATE()) - 
                CASE 
                    WHEN MONTH(@fecha_nacimiento) > MONTH(GETDATE()) OR 
                         (MONTH(@fecha_nacimiento) = MONTH(GETDATE()) AND DAY(@fecha_nacimiento) > DAY(GETDATE())) 
                    THEN 1 
                    ELSE 0 
                END;
    
    INSERT INTO usuario (nombre, apellido_paterno, apellido_materno, email, username, password, 
                        fecha_nacimiento, edad, direccion, codigo_postal)
    VALUES (@nombre, @apellido_paterno, @apellido_materno, @email, @username, @password, 
            @fecha_nacimiento, @edad, @direccion, @codigo_postal);
END;
GO
/****** Object:  StoredProcedure [dbo].[pa_filtrar_vehiculos]    Script Date: 19/04/2025 22:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pa_filtrar_vehiculos]
    @categoria VARCHAR(50) = NULL,
    @tipo_vehiculo VARCHAR(50) = NULL,
    @color VARCHAR(50) = NULL,
    @capacidad INT = NULL,
    @precio_max DECIMAL(10,2) = NULL
AS
BEGIN
    SELECT * FROM cat_vehiculo
    WHERE 
        (Categoria = @categoria OR @categoria IS NULL) AND
        (Tipo_vehiculo = @tipo_vehiculo OR @tipo_vehiculo IS NULL) AND
        (Color = @color OR @color IS NULL) AND
        (Capacidad = @capacidad OR @capacidad IS NULL) AND
        (Precio <= @precio_max OR @precio_max IS NULL)
END
GO
/****** Object:  StoredProcedure [dbo].[pa_requisitos_renta]    Script Date: 19/04/2025 22:32:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento para consultar los requisitos de renta por medio de transporte
CREATE   PROCEDURE [dbo].[pa_requisitos_renta]
    @transporte_nombre VARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        id,
        medio_transporte,
        edad_minima,
        identificacion_oficial,
        licencia_requerida,
        deposito,
        contrato,
        seguro,
        condiciones_uso
    FROM cat_requisitos_renta
    WHERE (@transporte_nombre IS NULL OR medio_transporte = @transporte_nombre)
    ORDER BY id;
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'usuario quien realizo la ultima modificacion' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cat_secciones', @level2type=N'COLUMN',@level2name=N'UM'
GO
